@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

root{
Cyan: hsl(193, 38%, 86%);
Green: hsl(150, 100%, 66%);
Blue: hsl(217, 19%, 38%);
Blue: hsl(217, 19%, 24%);
Blue: hsl(218, 23%, 16%);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

.advice{
    color: hsl(150, 100%, 66%);
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 4px;
}

.text{
    color: hsl(193, 38%, 86%);
    font-weight: 500;
    margin: 30px;
}

.advice__container{
    width: 30%;
    background-color: hsl(217, 19%, 24%);
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
}

.cardImg{
    margin: 32px 0;
    width: 80%;
}